@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: auto;
    width: 100%;
}
header{
    background-image: url('img/camp-gd.png');
    /*background-image: linear-gradient(to top, #6E8C03, #465902);*/
    padding: 20px;
    margin-bottom: 50px;
    height: 200px;
    
    
    
}
header h1{
    text-align: center;
    color: #252617;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.445);
    padding-top: 10px ;
    padding-bottom: 5px;
    
}
header p{
    text-align: center;
    color: #283302;
    font-size: 1.5em;
}
header > nav{
    margin-top: 98px;
   
}
header a{
    text-decoration: none;
    color: #252617;
    font-weight: bold;
    font-size: 1.5em;
    margin:    10px;
}
nav a:hover{
    background-color: #C9D955;
    color: #3E5915;
    
}
img{
    width: 100%;

    
}
main >h1{
    background-image: linear-gradient(to top, #C9D955, #8EA637);
    text-align: center;
    color: #181f01b0;
    font-weight: bolder;
    font-family: 'Poppins';
    padding-bottom: 20px;
}
aside h1{
    text-align: center;
    height: 30px;
    border-inline: 50px;
}

    

article{
    width: 45%;
    height: 50%;
    padding-bottom: 50px;
}
div#fora{
    height: 150vh;
    width: 98%;
    display: inline-block;
    background-color: white;
    
   
}
div#dentro{
    height: 660px;
    width: 500px;
    
    
    

}
div#fora{
    position: relative;
}
div#dentro{
    position: absolute;
    box-shadow: -10px 2px 5px rgba(0, 0, 0, 0.185);
    
    left: 60%;
    top: 10px;
}
div#dentro{
    border-radius: 10px;
    
}
div#texto{
    height: 660px;
    width: 660px;
    margin: 10px;
    
    
}
div#texto >h2{
    text-align: center;
    padding: 20px;
}
div#texto{
    position: absolute;
    font-family: 'Poppins';
    text-align: justify;
    
    
}
strong{
    color: #252617;
    
}

div.d1{
    display: inline-block;
     background-color: #6E8C03;
     width: 300px;
     height: 300px;
}
div#a{
   
    margin-left: 50%;
}
div#img{
    margin-left: 400px;
}
div#tela{
    height: 146vh;
    width: 100%;
    display: inline-block;
    background-color: #8ea6379d;

    
}
div#foto{
    height: 660px;
    width: 500px;
    margin: 10px;
}
div#txt{
    height: 400px;
    width: 500px;
    margin: 10px;
}

div#tela{
    position: relative;
}
div#foto{
    position: absolute;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.158);
    border-radius: 10px;
    right: 60%;
    top: 10px;
}
div#txt{
    position: absolute;
    font-family: 'Poppins';
    text-align: justify;
    left: 60%;
    top: 10px;
} 
div#txt{
    background-color: #548C1C;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.178);
    border-radius: 10px;
    
}
div#txt > h1{
    margin: 10px;
}
div#txt >h2{
    margin: 10px;
}
div#txt >p{
    margin: 10px;
}

